{% extends 'tracker/base_form.html' %}

{% block form_title %}
    {% if outlet %}Edit Outlet{% else %}Add New Outlet{% endif %}
{% endblock %}

{% block form_description %}
    {% if outlet %}Update outlet information{% else %}Enter outlet details{% endif %}
{% endblock %}

{% block cancel_url %}
    {% if outlet %}{% url 'tracker:outlet_detail' pk=outlet.pk %}{% else %}{% url 'tracker:outlet_list' %}{% endif %}
{% endblock %}

{% block extra_buttons %}
    <button type="submit" name="save_and_add_another"
            class="px-4 py-2 text-sm font-medium text-white bg-green-500 border border-transparent rounded-md hover:bg-green-600 focus:outline-none">
        Save & Add Another
    </button>
    <a href="{% url 'tracker:outlet_delete' outlet.pk %}"
       class="px-4 py-2 text-sm font-medium text-white bg-red-500 border border-transparent rounded-md hover:bg-red-600 focus:outline-none">
        Delete Outlet
    </a>
{% endblock %}

{% block submit_text %}
    {% if outlet %}Update Outlet{% else %}Create Outlet{% endif %}
{% endblock %}
