{% extends 'tracker/base_form.html' %}

{% block form_title %}
    {% if circuit %}Edit Circuit {{ circuit.circuit_number }}{% else %}Add New Circuit{% endif %}
{% endblock %}

{% block form_description %}
    {% if circuit %}Update circuit information{% else %}Enter circuit details{% endif %}
{% endblock %}

{% block cancel_url %}
    {% if circuit %}{% url 'tracker:circuit_detail' pk=circuit.pk %}{% else %}{% url 'tracker:circuit_list' %}{% endif %}
{% endblock %}

{% block extra_buttons %}
    <button type="submit" name="save_and_add_another"
            class="px-4 py-2 text-sm font-medium text-white bg-green-500 border border-transparent rounded-md hover:bg-green-600 focus:outline-none">
        Save & Add Another
    </button>
    <a href="{% url 'tracker:circuit_delete' circuit.pk %}"
       class="px-4 py-2 text-sm font-medium text-white bg-red-500 border border-transparent rounded-md hover:bg-red-600 focus:outline-none">
        Delete Circuit
    </a>
{% endblock %}

{% block submit_text %}
    {% if circuit %}Update Circuit{% else %}Create Circuit{% endif %}
{% endblock %}
