services:
  django:
    image: ghcr.io/soehlert/our-house:latest
    platform: linux/amd64
    ports:
      - "8021:8000"
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
      - ./media:/app/media
    restart: unless-stopped

volumes:
  house_tracker_db:
  house_tracker_media: