services:
  django:
    image: ghcr.io/soehlert/our-house:latest
    platform: linux/amd64
    ports:
      - "8021:8000"
    volumes:
      - django_db:/app/data
      - django_media:/app/media
    restart: unless-stopped

volumes:
  django_db:
  django_media:
