{% extends 'tracker/base_form.html' %}

{% block form_title %}
    {% if paint_color %}Edit Paint Color{% else %}Add New Paint Color{% endif %}
{% endblock %}

{% block form_description %}
    {% if paint_color %}Update paint color information{% else %}Enter paint color details{% endif %}
{% endblock %}

{% block cancel_url %}
    {% if paint_color %}{% url 'tracker:paint_color_detail' pk=paint_color.pk %}{% else %}{% url 'tracker:paint_color_list' %}{% endif %}
{% endblock %}

{% block extra_buttons %}
    <button type="submit" name="save_and_add_another"
            class="px-4 py-2 text-sm font-medium text-white bg-green-500 border border-transparent rounded-md hover:bg-green-600 focus:outline-none">
        Save & Add Another
    </button>
    <a href="{% url 'tracker:paint_color_delete' paint_color.pk %}"
       class="px-4 py-2 text-sm font-medium text-white bg-red-500 border border-transparent rounded-md hover:bg-red-600 focus:outline-none">
        Delete Paint Color
    </a>
{% endblock %}

{% block submit_text %}
    {% if paint_color %}Update Paint Color{% else %}Create Paint Color{% endif %}
{% endblock %}
